<div id="sidebar">
  <div id="category" module="Layout_category">
      <!--@css(/css/module/layout/category.css)-->
      <!--@js(/js/module/layout/category.js)-->
      <div class="position">
          <ul>
              <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
              <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
              <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
          </ul>
      </div>
  </div>

  

  

  <div module="Layout_project">
      <!--@css(/css/module/layout/project.css)-->
      <!--@js(/js/rotate.js)-->
      <!--@js(/js/module/layout/project.js)-->
      <h2>쇼핑기획전</h2>
      <ul>
          <li><a href="{$link_product_project}"><img src="{$category_image}" alt="" /></a></li>
          <li><a href="{$link_product_project}"><img src="{$category_image}" alt="" /></a></li>
      </ul>
      <div class="control">
          <button type="button" class="prev" id="prevButton-project"><span>이전</span></button>
          <button type="button" class="stop" id="stopButton-project"><span>멈춤</span></button>
          <button type="button" class="play" id="playButton-project"><span>재생</span></button>
          <button type="button" class="next" id="nextButton-project"><span>다음</span></button>
      </div>
  </div>

  

  

  <div module="Layout_Myshop">
      <!--@css(/css/module/layout/myshop.css)-->
      <h2>마이쇼핑</h2>
      <ul>
          <li class="order"><a href="/myshop/order/list.html">주문내역조회</a></li>
          <li class="mileage"><a href="/myshop/mileage/historyList.html">적립금</a></li>
          <li class="member"><a href="/member/modify.html">회원정보</a></li>
          <li class="consult {$consult_display|display}"><a href="/board/consult/list.html">1:1 맞춤상담</a></li>
          <li class="wish"><a href="/myshop/wish_list.html">관심상품</a></li>
      </ul>
  </div>

  <div module="Layout_Poll">
      <!--@css(/css/module/layout/poll.css)-->
      <h2>온라인 설문조사</h2>
      <h3 title="질문">{$poll_title}</h3>
      <fieldset>
          <legend>설문조사 항목</legend>
          <ul>
              <li>{$poll} {$poll_name}</li>
              <li>{$poll} {$poll_name}</li>
              <li>{$poll} {$poll_name}</li>
              <li>{$poll} {$poll_name}</li>
          </ul>
          <p class="button">
              <a href="#none" onclick="{$action_poll_result}"  class="btnLink">결과보기</a>
              <a href="#none" onclick="{$action_poll_submit}"  class="btnLink">투표하기</a>
          </p>
      </fieldset>
  </div>

  <div class="banner">
      <p module="Layout_giftBanner"><a href="/order/gift_list.html" class="giftBanner">고객사은품 안내</a></p>
      <p module="Layout_opdiaryBanner"><a href="/board/opdiary/list.html" class="opdiaryBanner">운영일지</a></p>
      
      
      <p module="Layout_couponzoneBanner"><a href="/coupon/coupon_zone.html" class="couponzoneBanner">알뜰살뜰 쿠폰존</a></p>
      <p module="Layout_calendarBanner"><a href="{$calendar_view_page}" class="calendarBanner">캘린더 게시판</a></p>
  </div>
</div>